<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Messages</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <%- include('./reusableTemplates/navigationView')%>
    <ul>
      <%console.log(messages.message_user)%>
      <% for(let i = 0; i < messages.length; i++){%>
      <li>
      
        <%=messages[i].message_user %>
        <button><a href="/message/<%=messages.id%>">view</a></li>
        </button>
      <ul>
        <%for(const prop in messages[i]){%>
        <li><%=prop%> : <%=messages[i][prop]%></li>
        <%}%>
      </ul>
      <%}%>
    </ul>
  </body>
</html>
